[submodule "lib/torch-lua"]
	path = lib/torch-lua
	url = https://github.com/torch/luajit-rocks.git
[submodule "lib/cmocka"]
	path = lib/cmocka
	url = git://git.cryptomilk.org/projects/cmocka.git
[submodule "lib/lua-prettycjson"]
	path = lib/lua-prettycjson
	url = https://github.com/bungle/lua-resty-prettycjson.git
[submodule "lib/lua-schema"]
	path = lib/lua-schema
	url = https://github.com/sschoener/lua-schema.git
[submodule "lib/lua-penlight"]
	path = lib/lua-penlight
	url = https://github.com/stevedonovan/Penlight.git
[submodule "lib/lua-sandbox"]
	path = lib/lua-sandbox
	url = https://github.com/APItools/sandbox.lua.git
[submodule "lib/lua-base64"]
	path = lib/lua-base64
	url = https://github.com/LuaDist/lbase64.git
[submodule "lib/lua-date"]
	path = lib/lua-date
	url = https://github.com/Tieske/date.git
[submodule "lib/lua-metalua"]
	path = lib/lua-metalua
	url = https://github.com/fab13n/metalua.git
[submodule "lib/luadec"]
	path = lib/luadec
	url = https://github.com/viruscamp/luadec
[submodule "lib/luafilesystem"]
	path = lib/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "lib/lua-sqlite"]
	path = lib/lua-sqlite
	url = https://github.com/slanska/lsqlite3.git
[submodule "lib/lua-cjson"]
	path = lib/lua-cjson
	url = https://github.com/openresty/lua-cjson.git
